apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: postgres-demo
  labels:
    app: postgres
spec:
  ports:
    - port: 5432
      targetPort: 5432
      protocol: TCP
      name: postgres
  selector:
    app: postgres
  type: ClusterIP

apiVersion: v1
kind: Service
metadata:
  name: postgres-nodeport
  namespace: postgres-demo
  labels:
    app: postgres
spec:
  type: NodePort
  selector:
    app: postgres
  ports:
    - port: 5432
      targetPort: 5432
      protocol: TCP
      nodePort: 30030   # change if already in use or remove to let k8s pick one
      name: postgres

